<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form th:action="@{/login}" th:object="${user}" method="post">
    <label>Username: <input type="text" th:field="*{username}"/></label><br>
    <label>Password: <input type="password" th:field="*{password}"/></label><br>
    <button type="submit">Login</button>
</form>
<p th:text="${error}" style="color:red;"></p>
<a th:href="@{/register}">New User? Register</a>
</body>
</html>